<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script>
        window.addEventListener('load', () => {
            var element = document.querySelector("#sort");
            var sortable = Sortable.create(element);
        });
    </script>
</head>

<body class="bg-blue-400">
    <div class="container mx-auto bg-white p-5 m-5 rounded-md">
        <main class="mx-auto w-full max-w-5xl">
            <h1 class="
                    text-center
                    pt-10
                    pb-5
                    text-5xl
                    font-medium
                "
            >
                    Submit Your Vote
            </h1>
                <form
                    hx-post="/save-vote"
                    class="flex flex-col"
                >
                    <div id="sort">
                        {% for option in vote_options %}
                            <div class="bg-gray-200 p-2 my-2 rounded-md">
                                <input type="hidden" name="{{ option.id }}" value="{{ option.id }}"/>
                                {{ option.display }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit"
                        class="col-start-3
                            mt-4
                            rounded-md
                            p-2
                            bg-green-500
                            hover:bg-green-600
                            text-white
                        ">Submit</button>
                </form>
        </main>
    </div>
</body>
</html>
